<div class="grid-container
d-flex flex-column flex-md-row text-center prim justify-content-between py-4 px-6 px-xl-5 bg-primary">

  <h1 class="mat-h1 tarc"><b>Registro de matriculas</b></h1>
  <img class="liv2" src="assets/icons/user1.ico">
  <button class="liv2"><img class="liv2 "src="assets/icons/out.ico" a routerLink=""></button>
     
</div>
  <div class="row orien">
 
    <div class="tarjeta1">
      <div class="titulo">Activas:</div>
      <img class="csd" src="assets/icons/check.ico">
      </div>
      
      <div class="tarjeta2 ">
        <div class="titulo">En formación:</div>
        <img class="csd" src="assets/icons/formac.ico">
        </div>
  
        <div class="tarjeta3">
          <div class="titulo">Inactivas:</div>
          <img class="csd" src="assets/icons/inact.ico">
          </div>
    </div>    
  <section>
    <div
    class=" sdf d-flex flex-column flex-md-row text-center text-lg-start justify-content-center ">
  CopyRyight Of STI Globals

    </div>
  </section>
   